#menu {
    height: 100vh;
    background-image: url('/public/elements/images/bg-black.svg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
#menu h1 {
    font-size: 40px;
    font-family: 'MyriadPro-Regular', sans-serif;
    margin-bottom: 20px;
    color: var(--primary-gold-color);
}

@media (max-width: 800px) {
    #menu h1 {
        font-size: 30px;
    }
}