#requirements {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#requirements:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/public/elements/images/bg-black.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

#requirements .head-svg {
  position: absolute;
  top: -100px;
  left: -150px;
  right: 0;
  bottom: 0;
  background-image: url('/public/elements/images/head.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
  background-size: 700px 700px;
  filter: grayscale(1) brightness(0.1);
}

#requirements .circle-svg {
  position: absolute;
  top: -55px;
  left: -417px;
  right: 0;
  bottom: 0px;
  background-image: url('/public/elements/images/bg-needs-circles.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 4;
  background-size: 1200px 1200px;
  filter: opacity(0.7);
}

#requirements .needs-background {
  position: absolute;
  margin-top: 25%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/public/elements/images/bg-needs.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}

#requirements .title-container {
  margin-top: 15%;
  position: relative;
  z-index: 10;
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#requirements .title-h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'MostraNuova-Bold', sans-serif;
}

#requirements .title-p {
  font-size: 16px;
  color: white;
  margin: -10px 0;
  padding: 0;
  width: 100%;
  display: block;
  font-family: 'MyriadPro-Light', sans-serif;
  width: 100%;
  display: block;
  letter-spacing: 6px;
}
  
#requirements .container {
  position: relative;
  margin-top: 20%;
  margin-bottom: 20px;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}
  
#requirements .container .requirements-header {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 40%;
}
  
#requirements .container .requirements-header h1,
#requirements .container .requirements-header h6 {
  z-index: 1;
}
  
#requirements .container .requirements-header .requirements-header-img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  right: 10;
}
    
#requirements .container .requirements-header h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  color: var(--primary-black-color);
  font-family: 'MostraNuova-Bold', sans-serif;
}
    
#requirements .container .requirements-header h6 {
  font-size: 16px;
  letter-spacing: 4px;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  color: var(--primary-black-color);
  font-family: 'MostraNuova-Light', sans-serif;
}
  
#requirements .container .requirements-info {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  
#requirements .container .requirements-info .requirements-info-imgs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  max-width: 1200px;
}
  
#requirements .container .requirements-info .requirements-info-imgs .image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: calc(25% - 120px);
  margin-bottom: 20px;
  min-height: 200px;
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  cursor: pointer;
}

#requirements .container .requirements-info .requirements-info-imgs .image-item.visible {
  opacity: 1;
  transform: translateY(0);
}
  
#requirements .container .requirements-info .requirements-info-imgs .image-item .image-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
  
#requirements .container .requirements-info .requirements-info-imgs .image-item .image-header .line {
  width: 40px;
  height: 3px;
  background-color: var(--primary-gold-color);
  border-radius: 4px;
  margin: 5px 0;
  position: relative;
}

#requirements .container .requirements-info .requirements-info-imgs .image-item .svg-image-1 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 102px;
  z-index: 5;
  transform: rotate(135deg);
}

#requirements .container .requirements-info .requirements-info-imgs .image-item .svg-image-2 {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  z-index: 5;
  transform: rotate(315deg);
}
  
#requirements .container .requirements-info .requirements-info-imgs .image-item .image {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border: 4px solid var(--primary-gold-color);
  border-radius: 85px;
  filter: grayscale(1);
  margin-bottom: 10px;
}

#requirements .container .requirements-info .requirements-info-imgs .image-item:hover .image {
  filter: grayscale(0);
  transition: all 0.3s ease;
  border: 4px solid var(--hover-color);
}

#requirements .container .requirements-info .requirements-info-imgs .image-item:hover .image-header .line {
  background-color: var(--hover-color);
}

#requirements .container .requirements-info .requirements-info-imgs .image-item:hover .image-header h3 {
  color: var(--hover-color);
  transition: color 0.3s ease;
}

#requirements .container .requirements-info .requirements-info-imgs .image-item:hover .svg-image-1,
#requirements .container .requirements-info .requirements-info-imgs .image-item:hover .svg-image-2 {
  filter: invert(30%) sepia(76%) saturate(500%) hue-rotate(190deg) brightness(90%) contrast(95%);
}
  
#requirements .container .requirements-info .requirements-info-imgs .image-item .image-header h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-bottom: 5px;
  color: var(--primary-gold-color);
  font-family: 'MostraNuova-Bold', sans-serif;
}
  
#requirements .container .requirements-info .requirements-info-imgs .image-item .image-header h6 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-bottom: 15px;
  color: var(--primary-black-color);
  font-family: 'MostraNuova-Regular', sans-serif;
}
  
#requirements .container .requirements-info .requirements-info-desc {
  width: 100%;
  text-align: justify;
  line-height: 1.6;
  margin-top: 5%;
  margin-bottom: 30%;
}

#requirements .container .requirements-info .requirements-info-desc em {
  color: var(--primary-gold-color);
  font-family: 'MyriadPro-It', sans-serif;
  font-weight: bold;
}
  
#requirements .container .requirements-info .requirements-info-desc .requirement h2 {
  font-size: 20px;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  color: var(--primary-gold-color);
  font-family: 'MostraNuova-Light', sans-serif;
}
  
#requirements .container .requirements-info .requirements-info-desc .requirement p {
  margin: 0;
  padding: 0;
  color: var(--primary-black-color);
  font-family: 'MyriadPro-Regular', sans-serif;
}

#requirements .container .requirements-info .requirements-info-desc .requirement .numbering {
  position: absolute;
  left: -40px;
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-gold-color);
  font-family: 'MyriadPro-Light', sans-serif;
}

@media(max-width: 1400px) {
  #requirements .container {
    width: 70%;
  }
}

@media(max-width: 1000px) {
  #requirements .container {
    width: 80%;
  }
}

@media (max-width: 1120px) {
  #requirements .container .requirements-info .requirements-info-imgs {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  #requirements .container .requirements-info .requirements-info-imgs .image-item {
    width: calc(50% - 20px);
  }

  #requirements .container .requirements-info .requirements-info-imgs .image-item .image {
    width: 200px;
    height: 200px;
    border-radius: 110px;
  }
}

@media(max-width: 640px) {
  #requirements .container .requirements-info .requirements-info-imgs .image-item {
    width: calc(50% - 20px);
  }

  #requirements .container {
    width: 95%;
  }

  #requirements .container .requirements-info .requirements-info-desc .requirement .numbering {
    display: none;
  }
}

@media(max-width: 540px) {
  #requirements .container .requirements-info .requirements-info-imgs .image-item {
    width: 100%;
  }

  #requirements .container .requirements-info .requirements-info-imgs .image-item .image {
    width: 230px;
    height: 230px;
    border-radius: 125px;
  }
}

@media(max-width: 1125px) {
  #requirements .container {
    margin-top: 30%;
  }
}

@media(max-width: 770px) {
  #requirements .container {
    margin-top: 40%;
  }
}

@media(max-width: 640px) {
  #requirements .container {
    margin-top: 50%;
  }
}

@media(max-width: 545px) {
  #requirements .container {
    margin-top: 70%;
  }
}

@media(max-width: 970px) {
  #requirements .title-container {
    margin-top: 20%;
    width: 50%;
  }
}

@media(max-width: 710px) {
  #requirements .title-container {
    margin-top: 25%;
  }
}

@media (max-width: 470px) {
  #requirements .title-container {
      margin-top: 40%;
  }
}

@media (max-width: 420px) {
  #requirements .title-container {
      margin-top: 50%;
  }
}

@media (max-width: 390px) {
  #requirements .title-container {
      margin-top: 70%;
  }
}

@media (max-width: 340px) {
  #requirements .title-container {
      margin-top: 85%;
  }
}

@media(max-width: 560px) { 
  #requirements .container .requirements-header h1 {
    font-size: 24px;
  }
}

@media(max-width: 450px) { 
  #requirements .container .requirements-header h1 {
    font-size: 20px;
  }
}

@media(max-width: 840px) {
  #requirements .title-h1 {
    font-size: 40px;
  }
  
  #requirements .title-p {
    font-size: 16px;
    letter-spacing: 2px;
  }
}

/* Map css */
#map {
  width: 98%;
  position: relative;
  height: 500px;
  margin-bottom: 10px;
}

.gray-map {
  filter: grayscale(100%);
}

.custom-zoom-btn {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 5px;
}

.zoom-in {
  top: 10px;
  left: 10px;
}

.zoom-out {
  top: 50px;
  left: 10px;
}

.leaflet-control-fullscreen {
  top: 10px;
  right: 10px;
}